<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mykrobb2020.presshere" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.mykrobb2020.presshere.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mykrobb2020.presshere.permission.C2D_MESSAGE" />

    <application
        android:name=".PressHereApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PrefActivity"
            android:label="Settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.MainActivity" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mykrobb2020.presshere.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.EditLoginInformation"
            android:label="Account Information"
            android:parentActivityName=".activities.PrefActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mykrobb2020.presshere.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SurveyActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".receivers.PressencePushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mykrobb2020.presshere" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.AccountInformationActivity"
            android:label="@string/title_activity_account_information"
            android:parentActivityName=".activities.PrefActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mykrobb2020.presshere.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".activities.EditAccountInformationActivity"
            android:label="@string/title_activity_edit_account_information"
            android:parentActivityName=".activities.AccountInformationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mykrobb2020.presshere.activities.AccountInformationActivity" />
        </activity>
    </application>

</manifest>
